.section {
  padding: 2em;
}
.purpose {
  .purpose__title {
    color: #000005;
  }
  .purpose__image {
    border-right: 30px solid #ffffff;
    border-bottom: 40px solid #ffffff;

  }
  .purpose__text {
    height: 145px;
    width: 500px;
    padding: 3em;
    float: right;
    border: 3px solid;
  }
}