@font-face {
  font-family: ubuntu;
  src: url("../fonts/Ubuntu-C.ttf");
}
@font-face {
  font-family: unbuntu-bold;
  src: url("../fonts/Ubuntu-B.ttf");
}
@font-face {
  font-family: unbuntu-medium;
  src: url("../fonts/Ubuntu-M");
}

@font-face {
  font-family: fontawesome;
  src: url("../fonts/fontawesome.ttf");
}

.heading2{
  font-family: $font-bold;
  font-size: 50px;
  text-align: center;
  color: $black;

  .heading2__white{
    color: $white;
  }
}