.about {
  background-color: #4b8813;
  color: #fff;
  text-align: center;
  padding: 6em 0;
  clip-path: polygon(0 0, 100% 8%, 100% 90%, 0 100%);
  position: relative;
  bottom: -3em

}

.about__paragraph {
  width: 80%;
  padding: 0 10%;
  color: $Snow-white;
}

.about__heading {
  color: $Snow-white;
  margin: 0 0 40px 0;
  font-size: $defaultHeaderSize;
  font-family: $defaultHeaderFont;
}

.about__information {
  margin-left: 5%;
}