.contact {
  background-color: #4B8813;
  padding: 5em;
  clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
}
.contact__heading2 {
  text-align: center;
  color: #ffffff;
}
.contact__input {
  width: 25%;
  height: 2em;
  background-color: #4B8813;
  border: 2px solid #F3F3F3;
  margin: 2em;
}
.contact__input::placeholder {
  color: #ffffff;
  padding: 5px;
}
.contact__textarea {
  display: inherit;
  height: 15em;
  width: 46em;
  resize: none;
  background-color: #4B8813;
  border: 2px solid #F3F3F3;
  margin: 2em;
}
.contact__textarea::placeholder {
  color: #ffffff;
  font-family: 'unbuntu', Verdana, sans-serif;
  padding: 5px;
}
.contact__submit {
  width: 10em;
  height: 3em;
  background-color: #F3F3F3;
  color: #4b8813;
  margin: 2em;
  font-family: 'unbuntu', Verdana, sans-serif;
  font-weight: bold;
}
.contact__address {
  float: right;
  z-index: 1;
  bottom: 28em;
  position: relative;
}
.contact__info {
  padding: 1em;
}
.contact__icons {
  float: left;
  padding-right: 2em;
}