@keyframes slideleft {
  from {
    margin-left: 1500px;
  }
  to {
    margin-left: 17.25%;
  }
}

@keyframes slideright {
  from {
    margin-left: -1500px;
  }
  to {
    margin-left: 17.25%;
  }
}

.expertise {
  &__content {
    /*
    animation-duration: 5s;
    */
  }
  &__slideleft {
    /*animation-name: slideleft;*/
    margin: 0 0 0 400px;
  }
  &__slideright {
    /*animation-name: slideright;*/
    margin: 0 0 0 900px;
  }
}