.expertise {
  background-image: url("../img/background.jpg");
  padding: 5em;

}
.expertise__title {
  padding: 1em;
  font-family: $font;
  color: $green;
}
.expertise__title--right {
  margin-left: $margin3em;
  text-align: right;
}
.expertise__text--right {
  margin-left: $margin3em;
  text-align: right;
}
.expertise__title--left {
  margin-right: $margin3em;
  text-align: left;
}
.expertise__text--left {
  margin-right: $margin3em;
  text-align: left;
}

.expertise__block {
  width: 60%;
  height: 30%;
  padding: 2em;
  background-color: #f3f3f3d6;
  margin: 2em;
}
.expertise__block--left {
  clip-path: polygon(0 0, 100% 0, 94% 100%, 0 100%);
}
.expertise__block--right {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 6% 100%);
  margin: 2em 0 2em 30em;
}
