.footer__icon {
  float: right;
  padding: 1em;
}
.footer__copyrighttext {
  font-weight: bold;
  font-family: "unbuntu-bold", Verdana, serif;
}
.footer__copyrighttext--green {
  color: #4B8813;
  font-family: "unbuntu-medium", Verdana, serif;
}