* {
  margin: 0;
}

.intro {

  .intro__container {
    background-color: aqua;
    width: 100%;
    height: 700px;
    background: url("../img/water.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);

    .intro__text {
      padding: 300px 0 0 100px;
      width: 45%;
      text-align: center;
      font-family: Arial;
      font-size: 27px;
      color: #ffffff;
    }
  }

}