* {
  margin: 0;
}

.intro {

  .intro__container {
    background-color: aqua;
    width: 100%;
    height: 700px;
    background: url("../img/water.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);

    .intro__text {
        padding: 250px 0 0 140px;
        width: 40%;
        text-align: center;
        font-family: ubuntu;
        font-size: 35px;
        color: #ffffff;
    }
  }

}