.navigation{
  width: 100%;
  height: 150px;
  background-color: $navcolor;
  transform: skewY(-1deg);
  margin: -22px 0 0 0;
  position: fixed;

    .menu{
      text-align: center;
      overflow: hidden;

      .menu__li{
        display: inline;
        padding: 20px 5% 0 5%;
        transform: skewY(1deg);

        .menu__link{
          text-decoration: none;
          font-size: 20px;
          color: black;
        }
      }
    }

}