body {
  background-color: #F3F3F3;
  font-family: 'unbuntu';
}
.services {
  margin-left: 20em;
  width: 63%;

}
.heading2 {
  text-align: center;
  font-size: 27px;
  color: #000005;
}

.services__box {
  width: 63%;
  text-align: left;
  margin: 30px 300px;
  font-size: 20px;


  .box__title {
    color: #4C8D17;
    font-weight: bold;
    padding-bottom: 1em;
    position: relative;
    right: 20px;
  }
  .box__text{
    position: relative;
    right: 20px;
  }
}

.services__img {
  float: left;
  margin: 0 0 0 7em;
}