body {
  font-family: $font;
}
.services {
  background-color: $grey;
  clip-path: polygon(0% 5%, 100% 0%, 100% 96%, 0 100%);
  position: relative;
  top: -4em;
}

.services__box {
  text-align: left;
  font-size: 20px;
  margin-left: 20em;
  margin-right: auto;
  width: 50%;
  padding: 1em;

  .box__title {
    color: $green;
    font-weight: bold;
    padding-bottom: 1em;
    position: relative;
    right: 20px;
  }
  .box__text {
    position: relative;
    right: 20px;
  }

  /*image algin left*/
  .services__img {
    float: left;
    margin-left: -10em;
  }
}