.services {
  background-color: $Soft-grey;
  clip-path: polygon(0% 5%, 100% 0%, 100% 96%, 0 100%);
  position: relative;
  top: -4em;
  padding: 120px 0 120px 0;
}

.services__title {
  text-align: center;
  font-size: $defaultHeaderSize;
  font-family: $defaultHeaderFont;
  color: $Font-dark;
  padding: 0 0 80px 0;
}

.services__text {
  font-size: $defaultFontSize;
}

.services__box {
  font-size: 20px;
  margin-left: 18em;
  width: 60%;
  padding: 1em;

  .box__title {
    color: $Shadow-green;
    font-size: 30px;
    padding-bottom: 10px;
    position: relative;
    right: -180px
  }
  .box__text {
    margin: 0 0 0 180px;
  }
}

/*image algin left*/
.services__img {
  float: left;
  margin: 0 0 0 1em;
}