$navcolor : rgba(243,243,243,0.8);

$Dark-plain: #000000;
$Font-dark: #060606;
$Snow-white: #ffffff;
$Shadow-green: #4B8813;
$Viper-green: #68A608;
$Soft-grey: #f3f3f3;

$defaultFontSize: 22px;
$defaultHeaderSize: 50px;
$defaultHeaderFont: "unbuntu-bold";

@font-face {
  font-family: ubuntu;
  src: url("../fonts/Ubuntu-C.ttf");
}

$unbuntu: 'unbuntu';