$navcolor : rgba(243,243,243,0.8);

$white: #ffffff;
$black: #000000;
$green: #4b8813;
$grey: #f2f2f2;

@font-face {
  font-family: ubuntu;
  src: url("../fonts/Ubuntu-C.ttf");
}

$font: unbuntu;
$font-bold: unbuntu-bold;

$margin3em: 3em;